/* General settings */

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-style: normal;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

:root {
  --primary-title-color: #2e2f42;
  --secondary-title-color: #ffffff;
  --primary-text-color: #434455;
  --secondary-text-color: #e7e9fc;
  --main-background-color: #ffffff;
  --secondary-background-color: #2e2f42;
  --alternative-background-color: #f4f4fd;
  --primary-btn-color: #4d5ae5;
  --secondary-btn-color: #404bbf;
  --secondary-navlink-color: #404bbf;
  --primary-filter-btn-color: #f4f4fd;
  --secondary-filter-btn-color: #404bbf;
  --primary-filter-btn-textcolor: #4d5ae5;
  --secondary-filter-btn-textcolor: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  background-color: var(--main-background-color);
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* MAIN PAGE styles */

/* 1. Header */
/* 1.1 The logo */

.header {
  background-color: var(--main-background-color);
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
}

.logo-header {
  padding-top: 24px;
  padding-bottom: 24px;

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: #2e2f42;
}

.web {
  color: #4d5ae5;
}

/* 1.2 Navigation between site pages*/

.main-nav {
  display: flex;
}

.navigation-list {
  display: flex;
  margin-left: 76px;
  gap: 40px;
}

.navigation-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-weight: 500;
  color: var(--primary-title-color);
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--secondary-navlink-color);
}

/* 1.3 Address mail & tel */

.contacts {
  display: flex;
  gap: 40px;
}

.header-adr {
  margin-left: auto;
}

.contact-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--secondary-navlink-color);
}

/* 2. Main */
/* 2.1 The slogan & order sevice */

.hero {
  padding-top: 188px;
  padding-bottom: 188px;

  text-align: center;
  background-color: var(--secondary-background-color);
}

.hero-title {
  margin: 0 auto;
  margin-bottom: 48px;
  max-width: 498px;

  color: var(--secondary-title-color);
  font-size: 56px;
  line-height: 1.07;
}

.hero-button {
  padding: 16px 32px;

  font-weight: 500;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: var(--primary-btn-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
}

.hero-button:hover,
.hero-button:focus {
  color: #ffffff;
  background-color: var(--secondary-btn-color);
}

/* 2.2 Competencies & our features */

.features {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-list {
  display: flex;
  gap: 24px;
}

.section-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--primary-title-color);
}

/* 2.3 Occupation & our team */

.occupation {
  padding-bottom: 120px;
}

.occupation-list {
  display: flex;
  gap: 24px;
}

.section-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--primary-title-color);
}

.team {
  padding-top: 120px;
  padding-bottom: 120px;

  background-color: var(--alternative-background-color);
}

.team-list li {
  background-color: var(--main-background-color);
}

.team-list {
  display: flex;
  gap: 24px;
}

.teamcard-info {
  padding: 32px 16px;

  text-align: center;
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

/* 3. Footer */

.footer {
  padding-top: 100px;
  padding-bottom: 100px;

  background-color: var(--secondary-background-color);
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #f4f4fd;
}

.footer-text {
  margin-top: 12px;
  max-width: 264px;

  color: var(--secondary-text-color);
}

/* PORTFOLIO styles */

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

/* 1. Navigation filter */
/* 1.1 Select buttons */

.filter-list {
  display: flex;
  gap: 24px;
  margin-bottom: 72px;
  justify-content: center;
}

.filter-btn {
  display: flex;
  padding: 12px 24px;

  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: var(--primary-filter-btn-textcolor);
  background-color: var(--primary-filter-btn-color);
  border-color: #e7e9fc;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--secondary-filter-btn-textcolor);
  background-color: var(--secondary-filter-btn-color);
}

/*1.2 Select menu */

.select-menu {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.menu-item {
  flex-basis: calc((100% - 48px) / 3);
}

.item-content {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;

  border: 1px solid #e7e9fc;
}
